@import "./../../../styles/mixins.scss";

.messages__wrapper {
  flex-grow: 1;
  overflow: auto;
}

.message {
  @include containerShadow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
  padding: 10px;
  margin: 20px auto;

  @media (min-width: 768px) {
    width: 70%;
  }
}

.message__wrapperIMG {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.message__img {
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-size: cover;

  background-repeat: no-repeat;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.message__text {
  max-width: 100%;
  padding: 10px;
  font-size: 12px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  overflow-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.message__user-name {
  width: 50%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  overflow-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1024px) {
    width: 60%;
  }
}

.message__time-and-date {
  flex-grow: 1;
  text-align: right;
  font-size: 8px;
  color: white;

  @media (min-width: 768px) {
    font-size: 10px;
  }
}
