@import "./../../../styles/mixins.scss";

.global-user-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.global-user-img-name__img {
  @include imageBase(100px, 120px, 160px, 170px);
  margin-top: 10px;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 1px black;
}

.global-user-img-name__name {
  max-width: 100%;
  margin: 10px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}
