.about-app {
  width: 100%;
  height: 100%;
  animation: showAnimation 1.3s linear both;

  @keyframes showAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.about-app__title {
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 19px;

  @media (min-width: 411px) {
    font-size: 23px;
  }

  @media (min-width: 768px) {
    font-size: 35px;
  }
}

.about-app__desc {
  display: block;
  margin: 10px 0;
  color: white;
  text-align: center;
  font-size: 13px;

  @media (min-width: 411px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
