.about-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: showAnimation 1.3s linear both;

  @keyframes showAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.about-app__title {
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 19px;

  @media (min-width: 411px) {
    font-size: 23px;
  }

  @media (min-width: 768px) {
    font-size: 35px;
  }
}

.about-app__desc {
  display: block;
  margin: 15px 0;
  color: white;
  text-align: center;
  font-size: 13px;

  @media (min-width: 411px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.about-app__registration-link {
  padding: 5px 15px;
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgba(30, 143, 255, 0.8);
  box-shadow: 0 0 2px 1px dodgerblue;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1024px) {
    cursor: pointer;
    transition: 0.3s;
  }
}

@media (min-width: 1024px) {
  .about-app__registration-link:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 10px 1px yellowgreen;
  }
}
