@import "./../../../styles/mixins.scss";

.no-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.no-logged__title {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.no-logged__btn {
  @include buttonBase(20px);
  @include buttonMedia768px;
  @include buttonMedia1024px;
}

@media (min-width: 1024px) {
  .no-logged__btn:hover {
    @include buttonHover;
  }
}
