@import "./../../../styles/mixins.scss";

.logged-user-friends {
  align-self: flex-start;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.logged-user-friends__friend-wrapper {
  @include containerShadow;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

.logged-user-friends__friend-img {
  @include containerShadow;
  @include imageBase(50px, 60px, 80px, 60px);
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;

  @media (min-width: 1024px) {
    margin: 10px 25px;
    transition: 0.3s;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .logged-user-friends__friend-img:hover {
    box-shadow: 0 0 5px 1px white;
  }
}

.logged-user-friends__friend-name {
  padding: 3px 10px;
  font-size: 11px;
  color: white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);

  @media (min-width: 768px) {
    padding: 5px 15px;
    font-size: 12px;
  }
}

.logged-user-friends__friend-name--no-friend {
  margin: 0 auto;

  @media (min-width: 1024px) {
    margin: none;
  }
}
