@import "./../../../styles/variables.scss";

.notification-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 12px 0;
  padding: 5px 20px;
  border-radius: 20px;
}

.notification-bar--green {
  background-color: $basicGreenColor;
  box-shadow: 0 0 5px 2px $basicGreenColor;
}

.notification-bar--red {
  background-color: darkred;
  box-shadow: 0 0 5px 2px darkred;
}

.notification-bar--animation {
  animation: animationBar 3s both linear;

  @keyframes animationBar {
    0% {
      opacity: 1;
      right: -100%;
    }
    5% {
      opacity: 1;
      right: 0;
    }
    70% {
      opacity: 1;
      right: 0;
    }
    85% {
      opacity: 0;
      right: 0;
    }
    95% {
      opacity: 0;
      right: 0;
    }
    100% {
      opacity: 0;
      right: -100%;
    }
  }
}

.notification-bar__message {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: white;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
