.user-to-add__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 4px 2px black;

  @media (orientation: landscape) {
    width: 60%;
  }

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1024px) {
    width: 45%;
  }
}

.user-to-add__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;

  @media (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.user-to-add__name {
  font-weight: bold;
  padding-left: 20px;
  color: white;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.user-to-add__add-friend-icon {
  padding: 10px 20px;
  font-size: 30px;
  color: rgba(30, 143, 255, 0.7);
  transition: 0.2s;

  @media (min-width: 768px) {
    font-size: 35px;
  }

  @media (min-width: 1024px) {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .user-to-add__add-friend-icon:hover {
    text-shadow: 0 0 10px dodgerblue;
  }
}

.user-to-add__add-friend-icon--added {
  color: yellowgreen;
}

@media (min-width: 1024px) {
  .user-to-add__add-friend-icon--added:hover {
    text-shadow: 0 0 0 yellowgreen;
    cursor: auto;
  }
}
