@import "./../../../styles/mixins.scss";
@import "./../../../styles/variables.scss";

.user-to-add__wrapper {
  @include containerShadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding: 10px;

  @media (orientation: landscape) {
    width: 70%;
  }

  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.user-to-add__image {
  @include imageBase(50px, 70px, 70px, 70px);
}

.user-to-add__name {
  flex-grow: 1;
  max-width: 45%;
  font-weight: bold;
  color: white;
  overflow-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.user-to-add__add-friend-icon {
  padding-right: 5px;
  font-size: 30px;
  color: $blueWithOpacity;
  transition: 0.2s;

  @media (min-width: 768px) {
    font-size: 35px;
  }

  @media (min-width: 1024px) {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .user-to-add__add-friend-icon:hover {
    text-shadow: 0 0 10px $basicBlueColor;
  }
}

.user-to-add__add-friend-icon--added {
  color: $basicGreenColor;
}

@media (min-width: 1024px) {
  .user-to-add__add-friend-icon--added:hover {
    text-shadow: 0 0 0 $basicGreenColor;
    cursor: auto;
  }
}
