@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.login-desk {
  @include animationSubpage;
  width: 100%;
}

.login-desk__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;

  @media (orientation: landscape) {
    padding-top: 0;
  }

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 35%;
    padding-top: 20px;
  }
}

.login-desk__btn {
  @include buttonBase;
  @include buttonMedia768px;
  @include buttonMedia1024px;
}

@media (min-width: 1024px) {
  .login-desk__btn:hover {
    @include buttonHover;
  }
}

.login-desk__registration-link {
  display: block;
  width: 100%;
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.3s;

  @media (min-width: 411px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .login-desk__registration-link:hover {
    color: $basicGreenColor;
    cursor: pointer;
  }
}
