.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

// use later in code
// <i className="astronaut fas fa-user-astronaut"></i>

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 24px;
    height: 24px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: gray;
  }
}
