@import "./../../styles/mixins.scss";

.logged-user-profile {
  @include animationSubpage;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logged-user-profile__wrapper-name-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logged-user-profile__img {
  @include imageBase(100px, 120px, 160px, 170px);
  margin-top: 10px;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 1px black;
}

.logged-user-profile__name {
  max-width: 100%;
  margin: 10px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.logged-user-profile__local-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 10px 10px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.logged-user-profile__local-nav-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: 0.3s;

  @media (min-width: 768px) {
    margin-right: 30px;
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .logged-user-profile__local-nav-link:hover {
    color: $basicGreenColor;
    text-shadow: 0 0 5px $basicGreenColor;
    animation: none;
  }
}

.logged-user-profile__details-wrapper {
  @include containerShadow;
  margin-top: 15px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged-user-profile__details {
  margin-top: 10px;
  font-size: 14px;
  align-self: flex-start;
  color: white;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}
