@import "./../../styles/mixins.scss";

.registration {
  @include animationSubpage;
  width: 100%;
}

.registration__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;

  @media (orientation: landscape) {
    padding-top: 0;
  }

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 35%;
    padding-top: 20px;
  }
}

.registration__btn {
  @include buttonBase;
  @include buttonMedia768px;
  @include buttonMedia1024px;
}

@media (min-width: 1024px) {
  .registration__btn:hover {
    @include buttonHover;
  }
}

.registration__info {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 14px;

  @media (min-width: 768px) {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
  }
}

.registration__info--animation {
  animation: colorfull 5s infinite;

  @keyframes colorfull {
    0% {
      color: white;
    }
    20% {
      color: $basicBlueColor;
    }
    40% {
      color: $basicGreenColor;
    }
    60% {
      color: $basicGreenColor;
    }
    80% {
      color: $basicBlueColor;
    }
    100% {
      color: white;
    }
  }
}

.registration__info-password {
  text-align: center;
  color: white;
  font-size: 10px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}
